<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
</head>
<body>

<h1>Add Student</h1>

<form action="/students/register" method="POST">
    <input type="text" name="name" placeholder="Enter Name" required>

    <select name="branch">
        <option value="CSE">CSE</option>
        <option value="Civil">Civil</option>
        <option value="Mechanical">Mechanical</option>
        <option value="IT">IT</option>
    </select>

    <button type="submit">Add Student</button>
</form>

<hr>

<a href="/students">View All Students</a>

</body>
</html>